# Notebook to check tableau calculations

In [2]:
import pandas as pd
df = pd.read_csv("datasets/cookie_cats.csv")
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [7]:
df.groupby("version").sum() / df.groupby("version").count()

               userid  sum_gamerounds  retention_1  retention_7
version
gate_30  4.987564e+06       52.456264     0.448188     0.190201
gate_40  5.009073e+06       51.298776     0.442283     0.182000